<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ManagerNhaXe">

        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.HomeActivity"/>
        <activity android:name=".activities.VehicleActivity"/>
        <activity android:name=".activities.CheckInActivity"/>
        <activity android:name=".activities.CheckOutActivity"/>
        <activity android:name=".activities.HistoryActivity"/>
        <activity android:name=".activities.ProfileActivity"/>
        <activity android:name=".activities.AdminDashboardActivity"/>
        <activity android:name=".activities.AddVehicleActivity"/>
        <activity android:name=".activities.UpdateVehicleActivity"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>